body {
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:  rgb(249, 6, 168);
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 3rem;
}
.homeScore, .guestScore {
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: rgb(249, 6, 168)
                                                
}

.container {
  background-color: rgb(21, 21, 99);
  color: white;
  display: flex;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 500px;
  width: 80%;
  border-radius: 10px;
}

.reset {
  background-color: rgb(21, 99, 81);
  color: white;
  display: flex;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: inherit;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
}
.btnHome, .btnGuest {
  background-color: transparent;
  color: white;
  margin-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}